body {
    margin: 0;
    padding: 0;
  }

.btn-x0info {
    border-color: #0f0f0f;
    text-align: left;
    font-size: small;
}

.image-container {
    text-align: center;
    overflow-x: hidden;
    max-width: 100%;
    max-height: 100%;
}
@media only screen and (max-width: 1200px) {
    .adapt-maua{
        font-size: small;
    }
}
@media only screen and (max-width: 720px) {
    .login-dropdown-menu{
        width: 100%;
        margin: 2%;
    }
    .adapt-maua{
        font-size: small;
    }
    .content {
        margin-top: 11em;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (min-width: 720px) {
    .login-dropdown-menu{
        width: 250%;
        margin: 2%;
    }

    .content {
        margin-top: 10em;
        margin-left: 10%;
        margin-right: 10%;
    }
}

.bg-maua-breadcrumb{
    background:#3262a8;
}
.breadcrumb-item.active{    
    color:  #aaaaaaff;
}
.bg-maua-news,
a:hover{
    color: #aaaaaaff;
}

.bg-maua{
    background:#3262a8;
    color: cornsilk;
}


.bg-maua-news{
    background:#3262a8cc;
    color: #ffffff;
}
.bg-maua-news,
a:hover{
    color: #aaaaaaff;
}

.strike-maua{
    background:#2f558f;
    width: 100%;
    height: 0.5em;
}
.strike-maua-2{
    background:#203b64;
    width: 100%;
    height: 0.5em;
}
.list-maua-footer,
a{
    color: azure;
}
.strike-title{
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    margin: 0.5%;
}

